$light-border: 1px solid #DDD
$chatroom-padding: 10px

.new-tab
	color: #000
	font-weight: bold

.chatroom
	border-left: $light-border
	padding: $chatroom-padding

.chat-input
	border: none
	border-top: $light-border
	resize: none
	outline: none
	padding: $chatroom-padding

.chat-entry
	margin-bottom: 5px

.chat-user
	font-weight: bold

.whiteboard-wrapper
	background: #FFF
	box-shadow: 0 0 52px #999
