<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/vendor/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <nav class="uk-navbar">
        <div class="navbar uk-container-center">
            <ul class="uk-navbar-nav">
                <li><a href="javascript:void(0)" id="run">執行</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="javascript:void(0)"></a></li>
                    <li><a href="javascript:void(0)"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- -->

    <div class="uk-flex main-body">
        <div class="side-menu">
            <ul class="uk-nav uk-nav-side">
                <li><a href="javascript:void(0)" id="whiteboardBtn">白板</a></li>
                <li><a href="javascript:void(0)" id="materialBtn">教材管理</a></li>
            </ul>
        </div>
        
        <div id="mainContent" class="main-content">
            <ul id="editorTabs" class="editor-tab uk-tab" data-uk-tab>
                <!--<li class="uk-active"><a href="">Default</a></li>-->
                <li id="newTab" class="new-tab"><a href=""><i class="uk-icon-plus"></i></a></li>
            </ul>
            <div id="editor" class="editor"></div>
        </div>

        <div id="chatroom" class="chatroom">
            <div id="chatItems" class="chat-items"></div>
            <div class="chat-input-wrapper">
                <textarea id="chatInput" class="chat-input" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- -->

<div id="whiteboardWrapper" class="whiteboard-wrapper">
    <!--<iframe src="http://draw.etherpad.org/d/ZShla8wu84" id="whiteboard" class="whiteboard" frameborder="0"></iframe>-->
</div>

<!-- uikit -->
<script src="/public/vendor/js/uikit.min.js"></script>

<!-- CodeMirror -->
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/clike/clike.min.js"></script>

<!-- firebase -->
<script src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="//cdn.firebase.com/libs/firepad/1.2.0/firepad.min.js"></script>

<!-- app -->
<script src="/public/vendor/system.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>
